@font-face {
    font-family: Montserrat-Thin;
    src: url(/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/fonts/Montserrat-Bold.ttf);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: white;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(23,18,35);
        background: linear-gradient(180deg, rgba(23,18,35,1) 0%, rgba(63,75,111,1) 100%);
        transform: scale(.6) translateY(150vh);
        -webkit-transform: scale(.6) translateY(150vh);
        -moz-transform: scale(.6) translateY(150vh);
        -ms-transform: scale(.6) translateY(150vh);
        -o-transform: scale(.6) translateY(150vh);
    }
    
    .landing-page {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background: #171223; */
        overflow-x: hidden;
    }
    
    .landing-page-i {
        position: relative;
        height: auto;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    #landing-page-brand {
        cursor: default;
        width: 40%;
        filter: invert(0);
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        -ms-filter: invert(0);
        -o-filter: invert(0);
    }
    
    #landing-page-overall {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
        font-family: Montserrat-Thin;
        font-size: .9em;
        margin: 15vh 0 0 7.5vw;
        color: white;
        height: auto;
        width: 85vw;
        line-height: 1.5em;
        right: 15vw;
        top: 25vh;
    }
    
    .landing-1-svg-container {
        margin-top: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    
    #landing-1-svg {
        height: 40vh;
        width: auto;
        /* position: absolute;
        top: 25vh;
        left: 20vw; */
    }
    
    .landing-1-button {
        position: relative;
        left: 0;
        border-radius: 20px;
        border: none;
        margin: 4vh 0 0 0;
        padding: .5em 2em;
        font-family: Montserrat-Medium;
        color: black;
        text-decoration: none;
        background: white;
        transition: .3s ease-in-out;
    }
    
    .landing-1-button:hover {
        background: #ABDBDB;
        color: white;
        transition: .3s ease-in-out;
    }
    
    /* .form-text {
        width: 50%;
        position: relative;
        left: 0;
        border-radius: 10px;
        border: none;
        margin: 10vh 0 0 0;
        padding: 16px 20px;
        font-family: Montserrat-Medium;
        color: black;
    }
    
    .form-text:focus {
        outline: none;
    } */
    
    .pyramid-shadow {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    
    .cls-10, .cls-9{
        animation: fill-animation .5s alternate-reverse infinite;
    }
    
    @keyframes fill-animation {
        from {
            filter: invert(0);
            -webkit-filter: invert(0);
            -moz-filter: invert(0);
            -ms-filter: invert(0);
            -o-filter: invert(0);
        }
    
        to {
            filter: invert(.5);
            -webkit-filter: invert(.5);
            -moz-filter: invert(.5);
            -ms-filter: invert(.5);
            -o-filter: invert(.5);
        }
    }
    
    #Contact {
        cursor: pointer;
    }
    
    .landing-page-2 {
        /* position: relative; */
        min-height: 130vh;
    }
    
    #post-heading {
        color: white;
        font-family: Montserrat-Bold;
        font-size: 2em;
        text-shadow: 2px 3.5px gray;
        margin: 5vh 0 0 12vw;
        cursor: default;
    }
    
    #post-heading-hr {
        margin: 5vh 10vw 0 10vw;
    }
    
    .post-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-b-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-bl-ii-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-br-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .post-br-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i {
        background-image: url(/img/post-bg-test.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        transition: .5s;
        z-index: 1;
    }
    
    .post-text-container {
        position: absolute;
        z-index: 100;
        color: white;
        background: rgba(34, 34, 34, .9);
        font-size: 1.2em;
        font-family: Montserrat-Medium;
        line-height: 2em;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .5s;
    }
    
    .post-text {
        display: none;
    }

    .landing-page-3 {
        display: none;
    }
    
    #map {
        margin-top: 10vh;
        width: 100vw;
        height: auto;
        margin-left: 12vw;
    }
    
    .shortlink-rect {
        opacity: 0;
        cursor: pointer;
    }
    
    #city-square {
        opacity: 1;
    }
    
    #here-you-are {
        fill: white;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: white;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(23,18,35);
        background: linear-gradient(180deg, rgba(23,18,35,1) 0%, rgba(63,75,111,1) 100%);
        transform: scale(.6) translateY(150vh);
        -webkit-transform: scale(.6) translateY(150vh);
        -moz-transform: scale(.6) translateY(150vh);
        -ms-transform: scale(.6) translateY(150vh);
        -o-transform: scale(.6) translateY(150vh);
    }
    
    .landing-page {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background: #171223; */
        overflow-x: hidden;
    }
    
    .landing-page-i {
        position: relative;
        height: auto;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    #landing-page-brand {
        cursor: default;
        width: 40%;
        filter: invert(0);
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        -ms-filter: invert(0);
        -o-filter: invert(0);
    }
    
    #landing-page-overall {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
        font-family: Montserrat-Thin;
        font-size: 1em;
        margin: 15vh 0 0 7.5vw;
        color: white;
        height: auto;
        width: 85vw;
        line-height: 1.8em;
        right: 15vw;
        top: 25vh;
    }
    
    .landing-1-svg-container {
        margin-top: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    
    #landing-1-svg {
        height: 40vh;
        width: auto;
        /* position: absolute;
        top: 25vh;
        left: 20vw; */
    }
    
    .landing-1-button {
        position: relative;
        left: 0;
        border-radius: 20px;
        border: none;
        margin: 4vh 0 0 0;
        padding: .5em 2em;
        font-family: Montserrat-Medium;
        color: black;
        text-decoration: none;
        background: white;
        transition: .3s ease-in-out;
    }
    
    .landing-1-button:hover {
        background: #ABDBDB;
        color: white;
        transition: .3s ease-in-out;
    }
    
    /* .form-text {
        width: 50%;
        position: relative;
        left: 0;
        border-radius: 10px;
        border: none;
        margin: 10vh 0 0 0;
        padding: 16px 20px;
        font-family: Montserrat-Medium;
        color: black;
    }
    
    .form-text:focus {
        outline: none;
    } */
    
    .pyramid-shadow {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    
    .cls-10, .cls-9{
        animation: fill-animation .5s alternate-reverse infinite;
    }
    
    @keyframes fill-animation {
        from {
            filter: invert(0);
            -webkit-filter: invert(0);
            -moz-filter: invert(0);
            -ms-filter: invert(0);
            -o-filter: invert(0);
        }
    
        to {
            filter: invert(.5);
            -webkit-filter: invert(.5);
            -moz-filter: invert(.5);
            -ms-filter: invert(.5);
            -o-filter: invert(.5);
        }
    }
    
    #Contact {
        cursor: pointer;
    }
    
    .landing-page-2 {
        /* position: relative; */
        min-height: 130vh;
    }
    
    #post-heading {
        color: white;
        font-family: Montserrat-Bold;
        font-size: 2em;
        text-shadow: 2px 3.5px gray;
        margin: 5vh 0 0 12vw;
        cursor: default;
    }
    
    #post-heading-hr {
        margin: 5vh 10vw 0 10vw;
    }
    
    .post-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-b-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-bl-ii-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-br-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .post-br-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i {
        background-image: url(/img/post-bg-test.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        transition: .5s;
        z-index: 1;
    }
    
    .post-text-container {
        position: absolute;
        z-index: 100;
        color: white;
        background: rgba(34, 34, 34, .9);
        font-size: 1.2em;
        font-family: Montserrat-Medium;
        line-height: 2em;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .5s;
    }
    
    .post-text {
        display: none;
    }

    .landing-page-3 {
        display: none;
    }
    
    #map {
        margin-top: 10vh;
        width: 100vw;
        height: auto;
        margin-left: 12vw;
    }
    
    .shortlink-rect {
        opacity: 0;
        cursor: pointer;
    }
    
    #city-square {
        opacity: 1;
    }
    
    #here-you-are {
        fill: white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: white;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(23,18,35);
        background: linear-gradient(180deg, rgba(23,18,35,1) 0%, rgba(63,75,111,1) 100%);
        transform: scale(.6) translateY(150vh);
        -webkit-transform: scale(.6) translateY(150vh);
        -moz-transform: scale(.6) translateY(150vh);
        -ms-transform: scale(.6) translateY(150vh);
        -o-transform: scale(.6) translateY(150vh);
    }
    
    .landing-page {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background: #171223; */
        overflow-x: hidden;
    }
    
    .landing-page-i {
        position: relative;
        height: auto;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    #landing-page-brand {
        cursor: default;
        width: 50%;
        filter: invert(0);
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        -ms-filter: invert(0);
        -o-filter: invert(0);
    }
    
    #landing-page-overall {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
        font-family: Montserrat-Thin;
        font-size: 1.3em;
        margin: 15vh 0 0 7.5vw;
        color: white;
        height: auto;
        width: 85vw;
        line-height: 1.5em;
        right: 15vw;
        top: 25vh;
    }
    
    .landing-1-svg-container {
        margin-top: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    
    #landing-1-svg {
        height: 40vh;
        width: auto;
        /* position: absolute;
        top: 25vh;
        left: 20vw; */
    }
    
    .landing-1-button {
        position: relative;
        left: 0;
        border-radius: 20px;
        border: none;
        margin: 4vh 0 0 0;
        padding: .5em 2em;
        font-family: Montserrat-Medium;
        color: black;
        text-decoration: none;
        background: white;
        transition: .3s ease-in-out;
    }
    
    .landing-1-button:hover {
        background: #ABDBDB;
        color: white;
        transition: .3s ease-in-out;
    }
    
    /* .form-text {
        width: 50%;
        position: relative;
        left: 0;
        border-radius: 10px;
        border: none;
        margin: 10vh 0 0 0;
        padding: 16px 20px;
        font-family: Montserrat-Medium;
        color: black;
    }
    
    .form-text:focus {
        outline: none;
    } */
    
    .pyramid-shadow {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    
    .cls-10, .cls-9{
        animation: fill-animation .5s alternate-reverse infinite;
    }
    
    @keyframes fill-animation {
        from {
            filter: invert(0);
            -webkit-filter: invert(0);
            -moz-filter: invert(0);
            -ms-filter: invert(0);
            -o-filter: invert(0);
        }
    
        to {
            filter: invert(.5);
            -webkit-filter: invert(.5);
            -moz-filter: invert(.5);
            -ms-filter: invert(.5);
            -o-filter: invert(.5);
        }
    }
    
    #Contact {
        cursor: pointer;
    }
    
    .landing-page-2 {
        /* position: relative; */
        min-height: 130vh;
    }
    
    #post-heading {
        color: white;
        font-family: Montserrat-Bold;
        font-size: 2em;
        text-shadow: 2px 3.5px gray;
        margin: 5vh 0 0 12vw;
        cursor: default;
    }
    
    #post-heading-hr {
        margin: 5vh 10vw 0 10vw;
    }
    
    .post-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-b-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-bl-ii-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-br-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .post-br-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i {
        background-image: url(/img/post-bg-test.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        transition: .5s;
        z-index: 1;
    }
    
    .post-text-container {
        position: absolute;
        z-index: 100;
        color: white;
        background: rgba(34, 34, 34, .9);
        font-size: 1.2em;
        font-family: Montserrat-Medium;
        line-height: 2em;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .5s;
    }
    
    .post-text {
        display: none;
    }

    .landing-page-3 {
        display: none;
    }
    
    #map {
        margin-top: 10vh;
        width: 100vw;
        height: auto;
        margin-left: 12vw;
    }
    
    .shortlink-rect {
        opacity: 0;
        cursor: pointer;
    }
    
    #city-square {
        opacity: 1;
    }
    
    #here-you-are {
        fill: white;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: white;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(23,18,35);
        background: linear-gradient(180deg, rgba(23,18,35,1) 0%, rgba(63,75,111,1) 100%);
        transform: scale(.6) translateY(150vh);
        -webkit-transform: scale(.6) translateY(150vh);
        -moz-transform: scale(.6) translateY(150vh);
        -ms-transform: scale(.6) translateY(150vh);
        -o-transform: scale(.6) translateY(150vh);
    }
    
    .landing-page {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background: #171223; */
        overflow-x: hidden;
    }
    
    .landing-page-i {
        position: relative;
        height: auto;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    #landing-page-brand {
        cursor: default;
        width: 50%;
        filter: invert(0);
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        -ms-filter: invert(0);
        -o-filter: invert(0);
    }
    
    #landing-page-overall {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
        font-family: Montserrat-Thin;
        font-size: 1.5em;
        margin: 15vh 0 0 7.5vw;
        color: white;
        height: auto;
        width: 85vw;
        line-height: 2em;
        right: 15vw;
        top: 25vh;
    }
    
    .landing-1-svg-container {
        margin-top: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    
    #landing-1-svg {
        height: 40vh;
        width: auto;
        /* position: absolute;
        top: 25vh;
        left: 20vw; */
    }
    
    .landing-1-button {
        position: relative;
        left: 0;
        border-radius: 20px;
        border: none;
        margin: 6vh 0 0 0;
        padding: .5em 2em;
        font-family: Montserrat-Medium;
        color: black;
        text-decoration: none;
        background: white;
        transition: .3s ease-in-out;
    }
    
    .landing-1-button:hover {
        background: #ABDBDB;
        color: white;
        transition: .3s ease-in-out;
    }
    
    /* .form-text {
        width: 50%;
        position: relative;
        left: 0;
        border-radius: 10px;
        border: none;
        margin: 10vh 0 0 0;
        padding: 16px 20px;
        font-family: Montserrat-Medium;
        color: black;
    }
    
    .form-text:focus {
        outline: none;
    } */
    
    .pyramid-shadow {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    
    .cls-10, .cls-9{
        animation: fill-animation .5s alternate-reverse infinite;
    }
    
    @keyframes fill-animation {
        from {
            filter: invert(0);
            -webkit-filter: invert(0);
            -moz-filter: invert(0);
            -ms-filter: invert(0);
            -o-filter: invert(0);
        }
    
        to {
            filter: invert(.5);
            -webkit-filter: invert(.5);
            -moz-filter: invert(.5);
            -ms-filter: invert(.5);
            -o-filter: invert(.5);
        }
    }
    
    #Contact {
        cursor: pointer;
    }
    
    .landing-page-2 {
        /* position: relative; */
        min-height: 130vh;
    }
    
    #post-heading {
        color: white;
        font-family: Montserrat-Bold;
        font-size: 2em;
        text-shadow: 2px 3.5px gray;
        margin: 5vh 0 0 12vw;
        cursor: default;
    }
    
    #post-heading-hr {
        margin: 5vh 10vw 0 10vw;
    }
    
    .post-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-b-container {
        display: flex;
        flex-direction: column;
    }
    
    .post-bl-ii-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-br-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .post-br-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i-container {
        width: 80vw;
        height: 30vh;
        margin: 5vh 0 0 10vw;
        overflow: hidden;
        position: relative;
    }
    
    .post-i {
        background-image: url(/img/post-bg-test.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        transition: .5s;
        z-index: 1;
    }
    
    .post-text-container {
        position: absolute;
        z-index: 100;
        color: white;
        background: rgba(34, 34, 34, .9);
        font-size: 1.2em;
        font-family: Montserrat-Medium;
        line-height: 2em;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .5s;
    }
    
    .post-text {
        display: none;
    }

    .landing-page-3 {
        display: none;
    }
    
    #map {
        margin-top: 10vh;
        width: 100vw;
        height: auto;
        margin-left: 12vw;
    }
    
    .shortlink-rect {
        opacity: 0;
        cursor: pointer;
    }
    
    #city-square {
        opacity: 1;
    }
    
    #here-you-are {
        fill: white;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: white;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(23,18,35);
        background: linear-gradient(180deg, rgba(23,18,35,1) 0%, rgba(63,75,111,1) 100%);
        transform: scale(.6) translateY(150vh);
        -webkit-transform: scale(.6) translateY(150vh);
        -moz-transform: scale(.6) translateY(150vh);
        -ms-transform: scale(.6) translateY(150vh);
        -o-transform: scale(.6) translateY(150vh);
    }
    
    .landing-page {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background: #171223; */
        overflow-x: hidden;
    }
    
    .landing-page-i {
        position: relative;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        /* background: #171223; */
    }
    
    #landing-page-brand {
        cursor: default;
        width: 50%;
        filter: invert(0);
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        -ms-filter: invert(0);
        -o-filter: invert(0);
    }
    
    #landing-page-overall {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
        font-family: Montserrat-Thin;
        font-size: 1.25em;
        position: absolute;
        margin: 0;
        color: white;
        height: auto;
        width: 40vw;
        line-height: 1.8em;
        right: 15vw;
        top: 25vh;
    }
    
    .landing-1-svg-container {
        position: absolute;
        top: 25vh;
        left: 20vw;
    }
    
    #landing-1-svg {
        height: 60vh;
        width: auto;
        /* position: absolute;
        top: 25vh;
        left: 20vw; */
    }
    
    .landing-1-button {
        position: relative;
        left: 0;
        border-radius: 20px;
        border: none;
        margin: 6vh 0 0 0;
        padding: .5em 2em;
        font-family: Montserrat-Medium;
        color: black;
        text-decoration: none;
        background: white;
        transition: .3s ease-in-out;
    }
    
    .landing-1-button:hover {
        background: #ABDBDB;
        color: white;
        transition: .3s ease-in-out;
    }
    
    /* .form-text {
        width: 50%;
        position: relative;
        left: 0;
        border-radius: 10px;
        border: none;
        margin: 10vh 0 0 0;
        padding: 16px 20px;
        font-family: Montserrat-Medium;
        color: black;
    }
    
    .form-text:focus {
        outline: none;
    } */
    
    .pyramid-shadow {
        filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    }
    
    .cls-10, .cls-9{
        animation: fill-animation .5s alternate-reverse infinite;
    }
    
    @keyframes fill-animation {
        from {
            filter: invert(0);
            -webkit-filter: invert(0);
            -moz-filter: invert(0);
            -ms-filter: invert(0);
            -o-filter: invert(0);
        }
    
        to {
            filter: invert(.5);
            -webkit-filter: invert(.5);
            -moz-filter: invert(.5);
            -ms-filter: invert(.5);
            -o-filter: invert(.5);
        }
    }
    
    #Contact {
        cursor: pointer;
    }
    
    .landing-page-2 {
        /* position: relative; */
        height: 130vh !important;
    }
    
    #post-heading {
        color: white;
        font-family: Montserrat-Bold;
        font-size: 3em;
        text-shadow: 2px 3.5px gray;
        margin: 5vh 0 0 12vw;
        cursor: default;
    }
    
    #post-heading-hr {
        margin: 5vh 12vw 0 12vw;
    }
    
    .post-container {
        display: flex;
        flex-direction: row;
    }
    
    .post-b-container {
        display: flex;
        flex-direction: row;
    }
    
    .post-bl-ii-container {
        width: 50vw;
        height: 65vh;
        margin: 5vh 4vw 0 12vw;
        cursor: pointer;
        transition: .5s;
        overflow: hidden;
        position: relative;
    }
    
    .post-br-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .post-br-i-container {
        width: 23vw;
        height: 30vh;
        margin: 5vh 12vw 0 0;
        cursor: pointer;
        transition: .5s;
        overflow: hidden;
        position: relative;
    }
    
    .post-i-container {
        width: 23vw;
        height: 30vh;
        margin: 7.5vh 4vw 0 0;
        cursor: pointer;
        transition: .5s;
        overflow: hidden;
        position: relative;
    }
    
    .post-i {
        background-image: url(/img/post-bg-test.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        transition: .5s;
        z-index: 1;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .post-i-container:nth-child(1) {
        margin-left: 12vw;
    }
    
    .post-text-container {
        position: absolute;
        z-index: 100;
        color: white;
        background: rgba(34, 34, 34, .9);
        font-size: 1.2em;
        font-family: Montserrat-Medium;
        line-height: 2em;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .5s;
    }
    
    .post-text-container:hover + .post-i {
        filter: blur(3px);
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -ms-filter: blur(3px);
        -o-filter: blur(3px);
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transition: .5s;
    }
    
    .post-text-container:hover {
        opacity: 1;
        transition: .5s;
    }
    
    .post-text {
        margin: 10% 10%;
    }

    .landing-page-3 {
        height: auto !important;
    }
    
    #map {
        margin: 10vh 0 5vh 12vw;
        width: 76vw;
        height: auto;
    }
    
    .contact-trigger, .cityhall-trigger, .library-trigger, .museum-trigger, .citysquare-trigger {
        cursor: pointer;
    }
    
    .shortlink-rect {
        opacity: 0;
        cursor: pointer;
    }
    
    #city-square {
        opacity: 1;
    }
    
    #here-you-are {
        fill: white;
    }
}