.scrollbar-thumb {
    background: #e3e3e3 !important;
    z-index: 10000000 !important;
}

.scrollbar-track {
    background: #171223 !important;
    z-index: 10000000 !important;
}

::-webkit-scrollbar {
    display: none;
}