.scrollbar-thumb {
    background: #B8F1F4 !important;
    z-index: 10000000 !important;
}

.scrollbar-track {
    background: transparent !important;
    z-index: 10000000 !important;
}

::-webkit-scrollbar {
    display: none;
}