@font-face {
    font-family: Montserrat-Thin;
    src: url(/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/fonts/Montserrat-Bold.ttf);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background: rgb(23,18,35);
        background: linear-gradient(180deg, rgba(23,18,35,1) 0%, rgba(63,75,111,1) 100%);
    }
    
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .comp-def {
        min-height: 100vh;
        width: 100vw;
        margin: 0 0 4vh 0;
        padding: 0;
    }
    
    .comp-details {
        height: auto;
        width: 100vw;
        margin: 0;
        padding: 0 0 0 0;
    }
    
    #def-logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        margin: 15vh 0 2vh 0;
        width: 50vw;
    }
    
    #def-head {
        font-size: 1.5em;
        text-align: center;
        color: white;
        font-family: Montserrat-Medium;
        margin: 0;
    }
    
    .def-content-con {
        min-height: 60vh;
        width: 80vw;
        margin: 5vh 0 0 10vw;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .def-content-half {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .def-head {
        color: white;
        margin: 0vh 0 1.5vh 0;
        font-family: Montserrat-Medium;
        font-size: 1.25em;
        text-align: center;
        font-style: italic;
    }
    
    .def-content {
        color: white;
        margin: 0 0 5vh 0;
        font-family: Montserrat-Thin;
        font-size: .9em;
        line-height: 1.75em;
    }
    
    .def-details-head {
        color: white;
        margin: 1vh 0 1vh 0;
        font-family: Montserrat-Medium;
        font-size: 1.5em;
        text-align: center;
        font-style: italic;
        cursor: default;
    }
    
    #comp-svg {
        margin-top: 3vh;
        position: relative;
        height: auto;
        width: 90vw;
        margin-left: 5vw;
    }

    tspan {
        font-size: 1em;
    }
    
    #Ellipse_1, #Ellipse_2, #Ellipse_3, #Ellipse_4, #Ellipse_5, #Ellipse_6, #Ellipse_7 {
        fill: none;
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background: rgb(23,18,35);
        background: linear-gradient(180deg, rgba(23,18,35,1) 0%, rgba(63,75,111,1) 100%);
    }
    
    .container {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .comp-def {
        min-height: 100vh;
        width: 100vw;
        margin: 0 0 15vh 0;
        padding: 0;
    }
    
    .comp-details {
        min-height: 170vh;
        width: 100vw;
        margin: 0;
        padding: 15vh 0 0 0;
    }
    
    #def-logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        margin: 10vh 0 2vh 0;
        width: 20%;
    }
    
    #def-head {
        font-size: 3em;
        text-align: center;
        color: white;
        font-family: Montserrat-Thin;
        margin: 0;
    }
    
    .def-content-con {
        height: 60vh;
        width: 70vw;
        margin: 10vh 0 0 0;
        padding: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: default;
    }
    
    .def-content-half {
        height: auto;
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    
    .def-letter {
        color: #B8F1F4;
        margin: 0;
        text-align: center;
        font-family: Montserrat-Thin;
        font-size: 3em;
    }
    
    .def-head {
        color: white;
        margin: 3.5vh 0 1.5vh 0;
        font-family: Montserrat-Medium;
        font-size: 1.75em;
        text-align: center;
        font-style: italic;
    }
    
    .def-content {
        color: white;
        margin: 0;
        font-family: Montserrat-Thin;
        font-size: 1em;
        line-height: 2em;
    }
    
    .def-details-head {
        color: white;
        margin: 1vh 0 1vh 0;
        font-family: Montserrat-Medium;
        font-size: 1.75em;
        text-align: center;
        font-style: italic;
        cursor: default;
    }
    
    #comp-svg {
        margin-top: 7.5vh;
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(10vh);
        -webkit-transform: translateX(-50%) translateY(10vh);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        height: 120vh;
        cursor: default;
        opacity: 0;
    }
    
    #Ellipse_1, #Ellipse_2, #Ellipse_3, #Ellipse_4, #Ellipse_5, #Ellipse_6, #Ellipse_7 {
        fill: none;
    }  
}